.loader {
  position: relative;
  margin: 0 auto;
}

.loader-small {
  width: 32px;
  height: 32px;
}

.loader-medium {
  width: 64px;
  height: 64px;
}

.loader-large {
  width: 96px;
  height: 96px;
}

.loader-ring {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-top-color: var(--accent-gold);
  border-radius: 50%;
  animation: loaderSpin 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

.loader-ring:nth-child(1) {
  animation-delay: -0.45s;
}

.loader-ring:nth-child(2) {
  animation-delay: -0.3s;
}

.loader-ring:nth-child(3) {
  animation-delay: -0.15s;
}

.loader-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-primary);
  z-index: var(--z-modal);
}

@keyframes loaderSpin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}